<body>
    <div class="container">
        <div class="row">
            <h1>Welcome to the Home Page</h1>
            <div class="col-6 offset-3" >
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <input type="file" name="profileimage" class="form-control"><br/>
                    <input type="submit" name="submit" value="submit" class="bnt-success">
                </form>
                <a href="/Allimage" class="btn btn-primary">Show All photo</a>
            </div>
        </div>
    </div>
</body>