<%-include('nav')-%>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3 class="text-Center">Welcome To Insert Page</h3><hr/><br/>
        <form class="border border-dark p-2"> 
            Enter name : 
            <input type="text" name="n" class="form-control"><br>
            Enter Course: 
            <input type="text" name="c" class="form-control"><br>
            <button class="btn btn-success" name="submit" value="submit" type="submit">Insert</button>
        </form>
    </div>
</div>